{% extends "base.html" %}
{% block content %}
    <h1>{{ article.title }}</h1>
    <ul>
        <li>Upload Date: {{ article.upload_date }}</li>
        <li>Author: {{ article.author }}</li>
        <li>Points: {{ article.points }}</li>
    </ul>

    <p class="text-justify col-sm-8">
        {{ article.context }}
    </p>
    
    <hr>
    {% for comment in reply %}
    <p>{{ comment.author }} {{ comment.context }}</p>
    <hr>
    {% endfor %}

    <form action="{% url 'article-reply' article.id %}">
        <button type="submit" class="btn btn-lg btn-secondary">Reply</button>
    </form>
{% endblock %}