{% extends "base.html" %}

{% block content %}
    <h1 align="center">All Articles</h1>
    <hr>
    <ul class="list-unstyled">
        {% for article in article_list %}
        <li class="media">
        <!--<img src="..." class="mr-3" alt="...">-->
        <div class="media-body">
            <h5><a class="mt-0 mb-1" href="{{ article.get_absolute_url }}">{{ article.title }}</a></h5>
            <div align="right">Written by: {{ article.author }}, {{ article.upload_date }} </div>
            <div align='right'>Points: {{ article.points }}</div>
            <hr>
        </div>
        {% endfor %}
    </ul>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if is_paginated %}
            <li class="page-item">
                {% if page_obj.has_previous %}
                <a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                {% endif %}
            </li>

            {% for page in page_obj.paginator.page_range %}
                {% if page_obj.number == page %}
                    <li class="page-item active" aria-current="page"><a class="page-link" href="{{ request.path }}?page={{page}}">{{ page }}<span class="sr-only">(current)</span></a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="{{ request.path}}?page={{page}}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
            <li class="page-item">
                {% if page_obj.has_next %}
                <a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                {% endif %}
            </li>
            {% endif %}
        </ul>
    </nav>

    <form action="{% url 'index' %}">
        <button type="submit" class="btn btn-dark btn-lg btn-block">Wrtie articles!</button>
    </form>
{% endblock %}